@(message: String)

@box(grid: Seq[Int]) = {
    <div class="box">
        <table>
            @for(rows <- grid.sliding(3,3)) {
            <tr>
                @for(cell <- rows) {
                <td>@cell</td>
                }
            </tr>
            }
        </table>
    </div>
}

@main("Welcome to Play 2.0") {
    
<section id="top">
    <div class="wrapper">
        <h1>Sudoku solver</h1>
    </div>
</section>

<div class="wrapper">

    <div id="input-pad">
        <table>
            <tr>
                <th colspan="3" ontouchstart="">Cancel</th>
            </tr>
            <tr>
                <td ontouchstart="">9</td>
                <td ontouchstart="">8</td>
                <td ontouchstart="">7</td>
            </tr>
            <tr>
                <td ontouchstart="">6</td>
                <td ontouchstart="">5</td>
                <td ontouchstart="">4</td>
            </tr>
            <tr>
                <td ontouchstart="">3</td>
                <td ontouchstart="">2</td>
                <td ontouchstart="">1</td>
            </tr>
            <tr>
                <td colspan="3" ontouchstart="">Clear</td>
            </tr>
        </table>
    </div>

    <div id="grid">
        <table>
            <tr>
                <td>@box(Range(1,10).sortBy(x => math.random))</td>
                <td>@box(Range(1,10).sortBy(x => math.random))</td>
                <td>@box(Range(1,10).sortBy(x => math.random))</td>
            </tr>
            <tr>
                <td>@box(Range(1,10).sortBy(x => math.random))</td>
                <td>@box(Range(1,10).sortBy(x => math.random))</td>
                <td>@box(Range(1,10).sortBy(x => math.random))</td>
            </tr>
            <tr>
                <td>@box(Range(1,10).sortBy(x => math.random))</td>
                <td>@box(Range(1,10).sortBy(x => math.random))</td>
                <td>@box(Range(1,10).sortBy(x => math.random))</td>
            </tr>
        </table>
      
        <div class="control-strip">
            <input id="solve-button" type="submit" value="Solve"/>
            <input id="clear-button" type="submit" value="Clear"/>
        </div>
    </div>
</div>

}
