@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/grid.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/spinner.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="@routes.Assets.at("javascripts/grid.min.js")"></script>
        <meta name="viewport" content="width=600; user-scalable=0;">
    </head>
    <body>
        @content
    </body>
</html>
